body{
    background-color: aqua;
}

main{
    width: 50%;
    height: 100%;
    background-color: ghostwhite;
    border: 20px solid bisque;
    margin: auto;
}

#gameWindow{
    width: 480px;
    height: 480px;
    background-color: grey;
    margin: auto;
}